<!-- This is an example of launch file for ros yarp markers -->
<launch>

     <node pkg="open_sot" type="ros_yarp_Cartesian_interactive_marker" name="ros_yarp_Cartesian_interactive_marker_l_foot" output="screen" >
       <param name="base_link" type="string" value="/world" />
       <param name="distal_link" type="string" value="/l_sole" />
       <param name="port_name" type="string" value="/bigman/drc_vehicle/6d::l_leg::world" />
     </node>
     
     <node pkg="open_sot" type="ros_yarp_Cartesian_interactive_marker" name="ros_yarp_Cartesian_interactive_marker_l_arm" output="screen" >
       <param name="base_link" type="string" value="/world" />
       <param name="distal_link" type="string" value="/LSoftHand" />
       <param name="port_name" type="string" value="/bigman/drc_debris/6d::l_arm::world" />
     </node>

</launch>
